{
  "openapi": "3.0.3",
  "info": {
    "title": "Plytix PIM API v1",
    "version": "1.0.0",
    "description": "Converted from the Plytix PIM API v1 Postman collection (materials/api-references/Plytix_pimv1.postman_collection.json). Endpoint shapes, request/response schemas, and examples were inferred from the collection's saved example bodies/responses and have not been independently verified against the live API — cross-check with endpoint-tester before treating as ground truth."
  },
  "servers": [
    {
      "url": "https://pim.plytix.com",
      "description": "Plytix PIM API (v1 under /api/v1, v2-beta endpoints under /api/v2)"
    },
    {
      "url": "https://auth.plytix.com",
      "description": "Plytix authentication service"
    }
  ],
  "tags": [
    {
      "name": "authentication"
    },
    {
      "name": "accounts"
    },
    {
      "name": "assets"
    },
    {
      "name": "available filters"
    },
    {
      "name": "categories"
    },
    {
      "name": "products"
    },
    {
      "name": "products V2 BETA"
    },
    {
      "name": "product attributes"
    },
    {
      "name": "product attribute groups"
    },
    {
      "name": "relationships"
    },
    {
      "name": "product families"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Obtain a token via POST /auth/api/get-token (15 minute lifetime), then send it as `Authorization: Bearer <token>`."
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/accounts/api-credentials/search": {
      "post": {
        "tags": [
          "accounts"
        ],
        "summary": "API credential search",
        "operationId": "apiCredentialSearch_api_v1_accounts_api_credentials_search_post",
        "description": "Filter API credentials by multiple criteria\n\nThe filter structure and format are described in the [Resources](#resources) section of this guide. Sorting is not supported. The following fields can be used as attributes and filters. If no attributes are specified, all fields are returned.\n\n| Field | Description |\n| --- | --- |\n| legacy_id | API Credential ID in PIM |\n| role | User role: one of _ADMIN_, _OWNER_ and _USER_ |\n| Name | API credential name |",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filters": {
                    "type": "array",
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "operator": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "attributes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "pagination": {
                    "type": "object",
                    "properties": {
                      "page": {
                        "type": "integer"
                      },
                      "page_size": {
                        "type": "integer"
                      }
                    }
                  }
                }
              },
              "example": {
                "filters": [
                  [
                    {
                      "field": "role",
                      "operator": "eq",
                      "value": "ADMIN"
                    }
                  ]
                ],
                "attributes": [
                  "legacy_id",
                  "name",
                  "role"
                ],
                "pagination": {
                  "page": 1,
                  "page_size": 5
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "legacy_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "order": {
                          "type": "string"
                        },
                        "count": {
                          "type": "integer"
                        },
                        "total_count": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "legacy_id": "cccccccccccccccccccccccc",
                      "name": "API",
                      "role": "ADMIN"
                    }
                  ],
                  "pagination": {
                    "page": 1,
                    "page_size": 5,
                    "order": "",
                    "count": 1,
                    "total_count": 1
                  }
                }
              }
            }
          },
          "400": {
            "description": "400 Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "loc": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "msg": {
                            "type": "string"
                          },
                          "input": {
                            "type": "object",
                            "properties": {}
                          },
                          "ctx": {
                            "type": "object",
                            "properties": {
                              "error": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "detail": [
                    {
                      "type": "json_invalid",
                      "loc": [
                        "body",
                        30
                      ],
                      "msg": "JSON decode error",
                      "input": {},
                      "ctx": {
                        "error": "Expecting property name enclosed in double quotes"
                      }
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "detail": "One or more filter fields are not valid."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/memberships/search": {
      "post": {
        "tags": [
          "accounts"
        ],
        "summary": "Membership search",
        "operationId": "membershipSearch_api_v1_accounts_memberships_search_post",
        "description": "Filter memberships by multiple criteria\n\nThe filter structure and format are described in the [Resources](#resources) section of this guide. Sorting is not supported. The following fields can be used as attributes and filters. If no attributes are specified, all fields are returned.\n\n| Field | Description |\n| --- | --- |\n| legacy_id | User ID in PIM |\n| role | Membership role: one of _ADMIN_, _OWNER_ and _USER_ |\n| email | User’s email address |\n| username | Unique user identifier (e.g., name) |\n| Name | User's first name |\n| last_name | User's last name |",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filters": {
                    "type": "array",
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "operator": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "attributes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "pagination": {
                    "type": "object",
                    "properties": {
                      "page": {
                        "type": "integer"
                      },
                      "page_size": {
                        "type": "integer"
                      }
                    }
                  }
                }
              },
              "example": {
                "filters": [
                  [
                    {
                      "field": "role",
                      "operator": "eq",
                      "value": "ADMIN"
                    }
                  ]
                ],
                "attributes": [
                  "username",
                  "role",
                  "name",
                  "last_name",
                  "legacy_id"
                ],
                "pagination": {
                  "page": 1,
                  "page_size": 5
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "legacy_id": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "order": {
                          "type": "string"
                        },
                        "count": {
                          "type": "integer"
                        },
                        "total_count": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "legacy_id": "aaaaaaaaaaaaaaaaaaaaaaaa",
                      "role": "ADMIN",
                      "username": "alice",
                      "name": "Alice",
                      "last_name": "Anderson"
                    },
                    {
                      "legacy_id": "bbbbbbbbbbbbbbbbbbbbbbbb",
                      "role": "ADMIN",
                      "username": "bob",
                      "name": "Bob",
                      "last_name": "Brown"
                    }
                  ],
                  "pagination": {
                    "page": 1,
                    "page_size": 5,
                    "order": "",
                    "count": 2,
                    "total_count": 3
                  }
                }
              }
            }
          },
          "400": {
            "description": "400 Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "loc": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "msg": {
                            "type": "string"
                          },
                          "input": {
                            "type": "object",
                            "properties": {}
                          },
                          "ctx": {
                            "type": "object",
                            "properties": {
                              "error": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "detail": [
                    {
                      "type": "json_invalid",
                      "loc": [
                        "body",
                        30
                      ],
                      "msg": "JSON decode error",
                      "input": {},
                      "ctx": {
                        "error": "Expecting property name enclosed in double quotes"
                      }
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "detail": "One or more filter fields are not valid."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/assets": {
      "post": {
        "tags": [
          "assets"
        ],
        "summary": "Add new assets",
        "operationId": "addNewAssets_api_v1_assets_post",
        "description": "Upload a new asset to your account\n\nThere are two methods for uploading assets to the system:\n   * By specifying an url\n   * By supplying the content of the asset\n\nBoth methods are described in this document\n\n\n## Upload an asset by url\nThis method allows you to specify an url, the system then tries to download it and\nadd it to your account.\nThere are a few issues that must be taken into account:\n   * url must be publicly accessible\n   * file must be one of the supported file types\n\n| Parameter | Type | Mandatory |\n| ---  | --- | :---: |\n| __*url*__ | string| __yes__ |\n| filename  | string|  |\n\nIf no filename is specified, the filename of the asset in the url will be used.\n\n__NOTE__: This system __DOES NOT__ convert files between formats and if different\nfile format of the requested url and filename are used there could be problems\n\n\n### Upload an asset by filename and content\nThis method allows you to upload an asset by sending its content (base64 format) in the body of the request.\n\n| Parameter | Type | Mandatory |\n| ---  | --- | :---: |\n| __*content*__ | string | __yes__ |\n| __*filename*__  | string|  __yes__ |\n\n__NOTE__: Content field must contain only image data, stripping `data:image/XXX;base64,`",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filename": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "filename": "kettle_blue.jpg",
                "url": "https://www.plytix.com/hubfs/Kitchen%20and%20Home%20Products/Enjoy%20Mug%20-%20Blue.jpg"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201 OK - Upload by url",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assigned": {
                            "type": "boolean"
                          },
                          "categories": {
                            "type": "array",
                            "items": {}
                          },
                          "content_type": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string"
                          },
                          "extension": {
                            "type": "string"
                          },
                          "file_modified": {
                            "type": "string"
                          },
                          "file_size": {
                            "type": "integer"
                          },
                          "file_type": {
                            "type": "string"
                          },
                          "filename": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "modified": {
                            "type": "string"
                          },
                          "n_catalogs": {
                            "type": "integer"
                          },
                          "n_products": {
                            "type": "integer"
                          },
                          "status": {
                            "type": "string"
                          },
                          "thumbnail": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "assigned": false,
                      "categories": [],
                      "content_type": "image/jpeg",
                      "created": "2019-01-26T14:26:24.826240+00:00",
                      "extension": "jpg",
                      "file_modified": "2019-01-26T14:26:24.826306",
                      "file_size": 31885,
                      "file_type": "IMAGES",
                      "filename": "kettle_blue.jpg",
                      "id": "5c4c6e10ca59f4061b800ffa",
                      "modified": "2019-01-26T14:26:24.827123+00:00",
                      "n_catalogs": 0,
                      "n_products": 0,
                      "status": "ACTIVE",
                      "thumbnail": "https://files.plytix.com/api/v1.1/thumb/kettle_blue.jpg",
                      "url": "https://files.plytix.com/api/v1.1/file/public_files/assets/kettle_blue.jpg"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400 Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "msg": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "msg": "The browser sent a request that this server could not understand."
                  }
                }
              }
            }
          },
          "409": {
            "description": "409 - Asset already exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string"
                              },
                              "msg": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "msg": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "errors": [
                      {
                        "field": "asset.id",
                        "msg": "5c4c6e10ca59f4061b800ffa"
                      }
                    ],
                    "msg": "Asset already exists"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string"
                              },
                              "msg": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "msg": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "errors": [
                      {
                        "field": "filename",
                        "msg": "filename field is mandatory when uploading from content"
                      }
                    ],
                    "msg": "Schema validation error"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/assets/search": {
      "post": {
        "tags": [
          "assets"
        ],
        "summary": "Asset search",
        "operationId": "assetSearch_api_v1_assets_search_post",
        "description": "Filter assets by multiple criteria\n\nFilter structure and format is described under [Resources](#resources) section in this guide\n\n## Restrictions\n\n- Search filters will return a 428 status code if the filtered results include more than 10000 assets and the order field is filled.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filters": {
                    "type": "array",
                    "items": {}
                  },
                  "attributes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "pagination": {
                    "type": "object",
                    "properties": {
                      "order": {
                        "type": "string"
                      },
                      "page": {
                        "type": "integer"
                      },
                      "page_size": {
                        "type": "integer"
                      }
                    }
                  }
                }
              },
              "example": {
                "filters": [],
                "attributes": [
                  "modified",
                  "filename"
                ],
                "pagination": {
                  "order": "modified",
                  "page": 1,
                  "page_size": 5
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "filename": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "modified": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer"
                        },
                        "order": {
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "total_count": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "filename": "k9189-1.jpg",
                      "id": "5c483ee8eb9139000154dd5e",
                      "modified": "2019-01-23T10:16:08.122000+00:00"
                    },
                    {
                      "filename": "naranja.png",
                      "id": "5c483f08eb9139000154dd61",
                      "modified": "2019-01-23T10:16:40.850000+00:00"
                    },
                    {
                      "filename": "dos_naranjas.jpeg",
                      "id": "5c483fbaeb9139000154dd64",
                      "modified": "2019-01-23T10:19:38.335000+00:00"
                    },
                    {
                      "filename": "naranja.jpeg",
                      "id": "5c483fbaeb9139000154dd66",
                      "modified": "2019-01-23T10:19:38.446000+00:00"
                    },
                    {
                      "filename": "rrh_1.png",
                      "id": "5c483fbaeb9139000154dd67",
                      "modified": "2019-01-23T10:19:38.491000+00:00"
                    }
                  ],
                  "pagination": {
                    "count": 2241,
                    "order": "modified",
                    "page": 1,
                    "page_size": 5,
                    "total_count": 2241
                  }
                }
              }
            }
          },
          "400": {
            "description": "400 Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string"
                              },
                              "msg": {
                                "type": "integer"
                              }
                            }
                          }
                        },
                        "msg": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "errors": [
                      {
                        "field": "http_status_code",
                        "msg": 400
                      }
                    ],
                    "msg": "Failed to decode JSON object: Expecting property name enclosed in double quotes: line 3 column 1 (char 46)"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string"
                              },
                              "msg": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "msg": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "errors": [
                      {
                        "field": "eq",
                        "msg": "unknown field"
                      },
                      {
                        "field": "filters",
                        "msg": "Unable to decode filters properly"
                      }
                    ],
                    "msg": "Schema validation error"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/assets/{asset_id}": {
      "patch": {
        "tags": [
          "assets"
        ],
        "summary": "Modify selected attributes of an asset",
        "operationId": "modifySelectedAttributesOfAnAsset_api_v1_assets_asset_id_patch",
        "parameters": [
          {
            "name": "asset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "Modifies attributes from asset and leaves the rest unchanged. \n\nCurrent version supports the modification of the following fields:\n\n| Field | Type | Description |\n| --- | --- | --- |\n| filename | string | New file name for the asset. <br/> File extension change is not allowed |\n| categories | array | Array containing categories objects <br/> Each category is defined as follows <br/> { \"id\": category_id } |\n  ",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filename": {
                    "type": "string"
                  },
                  "categories": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "filename": "new_asset_filename.png",
                "categories": [
                  {
                    "id": "5c3f6697d08a07000171c4de"
                  },
                  {
                    "id": "5c489c15f4b8950001378041"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assigned": {
                            "type": "boolean"
                          },
                          "categories": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "content_type": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string"
                          },
                          "extension": {
                            "type": "string"
                          },
                          "file_modified": {
                            "type": "string"
                          },
                          "file_size": {
                            "type": "integer"
                          },
                          "file_type": {
                            "type": "string"
                          },
                          "filename": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "modified": {
                            "type": "string"
                          },
                          "n_catalogs": {
                            "type": "integer"
                          },
                          "n_products": {
                            "type": "integer"
                          },
                          "status": {
                            "type": "string"
                          },
                          "thumbnail": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "assigned": true,
                      "categories": [
                        {
                          "id": "5c3f66add08a07000171c4e0"
                        },
                        {
                          "id": "5c3f6697d08a07000171c4de"
                        },
                        {
                          "id": "5c489c15f4b8950001378041"
                        }
                      ],
                      "content_type": "image/png",
                      "created": "2019-01-21T09:29:48.127000+00:00",
                      "extension": "png",
                      "file_modified": "2019-01-21T09:29:48.127000",
                      "file_size": 532360,
                      "file_type": "IMAGES",
                      "filename": "new_asset_filename.png",
                      "id": "5c45910c0a3d5c000155aa62",
                      "modified": "2019-01-21T09:33:58.170000+00:00",
                      "n_catalogs": 1,
                      "n_products": 115,
                      "status": "ACTIVE",
                      "thumbnail": "https://files.plytix.com/api/v1.1/thumb/bird.png",
                      "url": "https://files.plytix.com/api/v1.1/file/assets/bird.png"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400 Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "msg": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "msg": "The browser sent a request that this server could not understand."
                  }
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string"
                              },
                              "msg": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "msg": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "errors": [
                      {
                        "field": "asset_id",
                        "msg": "asset does not exist"
                      }
                    ],
                    "msg": " No results found for 000000000000000000000000"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string"
                              },
                              "msg": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "msg": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "errors": [
                      {
                        "field": "filename",
                        "msg": "Extension changes are not allowed"
                      }
                    ],
                    "msg": "Extension changes are not allowed"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "assets"
        ],
        "summary": "Get account's asset",
        "operationId": "getAccountSAsset_api_v1_assets_asset_id_get",
        "parameters": [
          {
            "name": "asset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "Get one asset from this account",
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assigned": {
                            "type": "boolean"
                          },
                          "categories": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "content_type": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string"
                          },
                          "extension": {
                            "type": "string"
                          },
                          "file_modified": {
                            "type": "string"
                          },
                          "file_size": {
                            "type": "integer"
                          },
                          "file_type": {
                            "type": "string"
                          },
                          "filename": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "modified": {
                            "type": "string"
                          },
                          "n_catalogs": {
                            "type": "integer"
                          },
                          "n_products": {
                            "type": "integer"
                          },
                          "status": {
                            "type": "string"
                          },
                          "thumbnail": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "assigned": true,
                      "categories": [
                        {
                          "id": "5c3f66add08a07000171c4e0"
                        }
                      ],
                      "content_type": "image/png",
                      "created": "2019-01-21T09:29:48.127000+00:00",
                      "extension": "png",
                      "file_modified": "2019-01-21T09:29:48.127000",
                      "file_size": 532360,
                      "file_type": "IMAGES",
                      "filename": "3536.png",
                      "id": "5c45910c0a3d5c000155aa62",
                      "modified": "2019-01-21T09:33:58.170000+00:00",
                      "n_catalogs": 1,
                      "n_products": 115,
                      "status": "ACTIVE",
                      "thumbnail": "https://files.plytix.com/api/v1.1/thumb/3536.jpg",
                      "url": "https://files.plytix.com/api/v1.1/file/3536.jpg"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400 Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "msg": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "msg": "The browser sent a request that this server could not understand."
                  }
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "msg": {
                          "type": "string"
                        },
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "msg": {
                                "type": "string"
                              },
                              "field": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "msg": " No results found for 000000000000000000000000",
                    "errors": [
                      {
                        "msg": "asset does not exist",
                        "field": "asset_id"
                      }
                    ]
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "msg": {
                          "type": "string"
                        },
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "msg": {
                                "type": "string"
                              },
                              "field": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "msg": "There was an error loading this asset, please contact support",
                    "errors": [
                      {
                        "msg": "validation error",
                        "field": "asset"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "assets"
        ],
        "summary": "Remove asset from account",
        "operationId": "removeAssetFromAccount_api_v1_assets_asset_id_delete",
        "parameters": [
          {
            "name": "asset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "Removes an asset from this account",
        "responses": {
          "204": {
            "description": "204 Success"
          },
          "400": {
            "description": "400 Malformed Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "msg": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "msg": "The browser sent a request that this server could not understand."
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 Permission error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "msg": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "msg": "Permission denied."
                  }
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "msg": {
                          "type": "string"
                        },
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "msg": {
                                "type": "string"
                              },
                              "field": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "msg": " No results found for 000000000000000000000000",
                    "errors": [
                      {
                        "msg": "asset does not exist",
                        "field": "asset_id"
                      }
                    ]
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "msg": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "msg": "Schema validation error"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/assets/{asset_id}/content": {
      "put": {
        "tags": [
          "assets"
        ],
        "summary": "Replace asset content",
        "operationId": "replaceAssetContent_api_v1_assets_asset_id_content_put",
        "parameters": [
          {
            "name": "asset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "202 Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assigned": {
                            "type": "boolean"
                          },
                          "categories": {
                            "type": "array",
                            "items": {}
                          },
                          "content_type": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string"
                          },
                          "created_user_audit": {
                            "type": "object",
                            "properties": {
                              "avatar_color": {
                                "type": "string",
                                "nullable": true
                              },
                              "type": {
                                "type": "string"
                              },
                              "user_display_name": {
                                "type": "string",
                                "nullable": true
                              },
                              "user_email": {
                                "type": "string"
                              },
                              "user_id": {
                                "type": "string"
                              },
                              "user_last_name": {
                                "type": "string"
                              },
                              "user_name": {
                                "type": "string"
                              },
                              "user_thumb": {
                                "type": "string"
                              },
                              "username": {
                                "type": "string"
                              }
                            }
                          },
                          "extension": {
                            "type": "string"
                          },
                          "file_modified": {
                            "type": "string"
                          },
                          "file_size": {
                            "type": "integer"
                          },
                          "file_type": {
                            "type": "string"
                          },
                          "filename": {
                            "type": "string"
                          },
                          "has_custom_thumb": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "modified": {
                            "type": "string"
                          },
                          "modified_user_audit": {
                            "type": "object",
                            "properties": {
                              "avatar_color": {
                                "type": "string",
                                "nullable": true
                              },
                              "type": {
                                "type": "string"
                              },
                              "user_display_name": {
                                "type": "string",
                                "nullable": true
                              },
                              "user_email": {
                                "type": "string"
                              },
                              "user_id": {
                                "type": "string"
                              },
                              "user_last_name": {
                                "type": "string"
                              },
                              "user_name": {
                                "type": "string"
                              },
                              "user_thumb": {
                                "type": "string"
                              },
                              "username": {
                                "type": "string"
                              }
                            }
                          },
                          "n_catalogs": {
                            "type": "integer"
                          },
                          "n_products": {
                            "type": "integer"
                          },
                          "status": {
                            "type": "string"
                          },
                          "thumbnail": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "assigned": true,
                      "categories": [],
                      "content_type": "image/png",
                      "created": "2023-05-17T11:22:36.671000+00:00",
                      "created_user_audit": {
                        "avatar_color": null,
                        "type": "USER",
                        "user_display_name": null,
                        "user_email": "USER@plytix.com",
                        "user_id": "5e678436cc9e97962c059bd7",
                        "user_last_name": "God",
                        "user_name": "The Owner",
                        "user_thumb": "https://static.plytix.com/template/dev/img/user-default-image.png",
                        "username": "5e678436cc9e97962c059bd7"
                      },
                      "extension": "png",
                      "file_modified": "2023-05-19T12:27:19.943966",
                      "file_size": 18696,
                      "file_type": "IMAGES",
                      "filename": "2023-05-03_08-42_1.png",
                      "has_custom_thumb": false,
                      "id": "6464b8fcb1779cd56c3cac87",
                      "modified": "2023-05-19T12:27:19.944188+00:00",
                      "modified_user_audit": {
                        "avatar_color": null,
                        "type": "USER",
                        "user_display_name": null,
                        "user_email": "USER@plytix.com",
                        "user_id": "5e678436cc9e97962c059bd7",
                        "user_last_name": "God",
                        "user_name": "The Owner",
                        "user_thumb": "https://static.plytix.com/template/dev/img/user-default-image.png",
                        "username": "5e678436cc9e97962c059bd7"
                      },
                      "n_catalogs": 0,
                      "n_products": 1,
                      "status": "ACTIVE",
                      "thumbnail": "http://files.plytix.com/api/v1.1/thumb/public_files/pim/assets/e3/4b/4a/64/644a4be3a83d8b00089da29f/images/fc/b8/64/64/6464b8fcb1779cd56c3cac87/2023-05-03_08-42_1.png",
                      "url": "http://files.plytix.com/api/v1.1/file/public_files/pim/assets/e3/4b/4a/64/644a4be3a83d8b00089da29f/images/fc/b8/64/64/6464b8fcb1779cd56c3cac87/2023-05-03_08-42_1.png"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400 Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string"
                              },
                              "msg": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "msg": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "errors": [
                      {
                        "field": "content_type",
                        "msg": "You cannot change the format type of the asset."
                      }
                    ],
                    "msg": "You cannot change the format type of the asset."
                  }
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string"
                              },
                              "msg": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "msg": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "errors": [
                      {
                        "field": "id",
                        "msg": "asset does not exist"
                      }
                    ],
                    "msg": " No results found for 64512de1f15dafa58db1ac73"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/attribute-groups/product": {
      "post": {
        "tags": [
          "product attribute groups"
        ],
        "summary": "Add new product attribute group",
        "operationId": "addNewProductAttributeGroup_api_v1_attribute_groups_product_post",
        "description": "Upon successful creation, a 201 CREATED status code is returned and product attribute group data can be found in response body.\n\n\n| Field | Type | Mandatory | Description |\n| --- | --- | --- | --- | \n| name | string | YES | product attribute group friendly-name |\n| attribute_labels | array of strings | | array of user attribute labels. *NOTE* that attribute labels *MUST NOT* contain \"attributes.\" |\n| order | number | | position of this group  **using zero-based numbering**, so the first group will be ordered starting with 0  |\n\n\n# Example\n\nMore examples can be found in example requests\n\n1.- Create new group named \"Dimensions\"\n```json\nFormatted JSON Data\n{\n\t\"name\":\"Dimensions\",\n}\n ```\nResponse\n```json\nFormatted JSON Data\n{\n\t\"attribute_labels\": [\n\t\t\"product_weight_kg\",\n\t\t\"product_length_mm\",\n\t\t\"product_width_mm\",\n\t\t\"product_height_mm\",\n\t\t\"packed_product_weight_kg\",\n\t\t\"packed_product_length_mm\",\n\t\t\"packed_product_width_mm\",\n\t\t\"packed_product_height_mm\"\n\t\t],\n\t\t\"order\": 1,\n\t\t\"name\": \"Dimensions\",\n\t\t\"id\": \"5d0baf02d4bf5513d19023f5\"\n}\n ```",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/attribute-groups/product/search": {
      "post": {
        "tags": [
          "product attribute groups"
        ],
        "summary": "Product attribute groups search",
        "operationId": "productAttributeGroupsSearch_api_v1_attribute_groups_product_search_post",
        "description": "Filter product attribute groups by multiple criteria\n\nFilter structure and format is described under the Resources section in this guide.\n\n# Restrictions\n\n* Search requests\n\n    * Search filters MUST include all necessary columns. If an attribute is not explicitly requested it won’t be returned by the API. Available attributes can be found later in this section. \n    Requesting non-existing attributes will return a 422 error code.\n    You are allowed to sort by columns not included in the “attributes” field, however, this attribute won’t be returned\n\n# Response Format\n\nEndpoint successful responses are wrapped in { data: [ ...] } object as in any other search endpoint.\nYou can read more about response format in the __Resources__ section in this guide.\n\n\n| Field | Description | Type |\n| --- | --- | --- |\n| id   | Group unique identifier | string |\n| name | Group name usually contains a human-friendly name | string |\n| attribute_labels | Array with _attribute labels_ belonging this group <BR> Attributes are not prefixed with \"attributes.\" | array of strings |\n| order  | Position of this group in groups sequence **using zero-based numbering**, so the first group will be ordered starting with 0  |\n\n\n\n# Basic Example\n\n1.- Search for all product groups and all fields (a.k.a no-filters) 100 items max.\n```json\nFormatted JSON Data\n{  \n   \"filters\":[],\n   \"attributes\":[  \n      \"name\",\n      \"order\",\n      \"attribute_labels\",\n   ],\n   \"pagination\":{  \n      \"page_size\":100,\n      \"page\":1,\n      \"order\":\"\"\n   }\n}\n ```\nResponse\n```json\nFormatted JSON Data\n{\n    \"data\": [\n        {\n            \"order\": 0,\n            \"name\": \"Basic Information\",\n            \"id\": \"5d0baf02d4bf5513d19023f3\",\n            \"attribute_labels\": [\n                \"gtin\",\n                \"brand\",\n                \"title\",\n                \"basic_info_complete\"\n            ]\n        },\n        {\n            \"order\": 2,\n            \"name\": \"Rich Information\",\n            \"id\": \"5d0baf02d4bf5513d19023f4\",\n            \"attribute_labels\": [\n                \"gtin\",\n                \"brand\",\n                \"title\",\n                \"new_images_gallery\",\n                \"description\",\n                \"feature_description\",\n                \"hero_image\",\n                \"additional_image_galery\",\n                \"video_url\",\n                \"suggested_retail_price\",\n                \"type\",\n                \"product_type\",\n                \"color\",\n                \"rich_info_complete\",\n                \"bathroom_picture\",\n                \"collection\",\n                \"availability\",\n                \"condition\"\n            ]\n        },\n        {\n            \"attribute_labels\": [\n                \"product_weight_kg\",\n                \"product_length_mm\",\n                \"product_width_mm\",\n                \"product_height_mm\",\n                \"packed_product_weight_kg\",\n                \"packed_product_length_mm\",\n                \"packed_product_width_mm\",\n                \"packed_product_height_mm\"\n            ],\n            \"order\": 1,\n            \"name\": \"Dimensions\",\n            \"id\": \"5d0baf02d4bf5513d19023f5\"\n        }\n    ],\n    \"pagination\": {\n        \"count\": 3,\n        \"total_count\": 3,\n        \"page\": 1,\n        \"page_size\": 100,\n        \"order\": \"\"\n    },\n\n}\n```\n \n 2.- Search for \"Rich info complete\" group.\n```json\nFormatted JSON Data\n{  \n   \"filters\":[[{\"field\":\"name\",\"operator\":\"like\",\"value\":\"RiCh InFo\"}]],\n   \"attributes\":[  \n      \"name\",\n      \"order\",\n      \"attribute_labels\"\n   ],\n   \"pagination\":{  \n      \"page_size\":25,\n      \"page\":1,\n      \"order\":\"\"\n   }\n}\n\n ```\nResponse\n```json\nFormatted JSON Data\n{\n  \"data\": [\n        {\n            \"order\": 2,\n            \"name\": \"Rich Information\",\n            \"id\": \"5d0baf02d4bf5513d19023f4\",\n            \"attribute_labels\": [\n                \"gtin\",\n                \"brand\",\n                \"title\",\n                \"new_images_gallery\",\n                \"description\",\n                \"feature_description\",\n                \"hero_image\",\n                \"additional_image_galery\",\n                \"video_url\",\n                \"suggested_retail_price\",\n                \"type\",\n                \"product_type\",\n                \"color\",\n                \"rich_info_complete\",\n                \"bathroom_picture\",\n                \"collection\",\n                \"availability\",\n                \"condition\"\n            ]\n        }\n  ], \n  \"pagination\": {\n    \"count\": 1, \n    \"order\": null, \n    \"page\": 1, \n    \"page_size\": 25, \n    \"total_count\": 3\n  }\n}\n\n ```",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filters": {
                    "type": "array",
                    "items": {}
                  },
                  "attributes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "pagination": {
                    "type": "object",
                    "properties": {
                      "page_size": {
                        "type": "integer"
                      },
                      "page": {
                        "type": "integer"
                      },
                      "order": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "example": {
                "filters": [],
                "attributes": [
                  "name",
                  "label",
                  "attribute_labels",
                  "order"
                ],
                "pagination": {
                  "page_size": 100,
                  "page": 1,
                  "order": "order"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/attribute-groups/product/{attribute_group_id}": {
      "patch": {
        "tags": [
          "product attribute groups"
        ],
        "summary": "Modify attribute group",
        "operationId": "modifyAttributeGroup_api_v1_attribute_groups_product_attribute_group_id_patch",
        "parameters": [
          {
            "name": "attribute_group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "Using this verb you can change some of the properties of any group.\n\nAllowed properties:\n\n| Field | Type | Description |\n| --- | --- | --- | \n| name | string  | product attribute group friendly-name |\n| attribute_labels | array of strings | array of user attribute labels. *NOTE* that attribute labels *MUST NOT* contain \"attributes.\" |\n| order | number | position of this group  **using zero-based numbering**, so the first group will be ordered starting with 0  |\n\nA 200 OK is returned upon successful request\n\n* order: if group order is greater than the number of existing groups, group will be moved to the last position\n* attribute_labels: If present, group will be modified. Please note that a request like 'attribute_labels': null will remove ALL attributes from this group",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "attribute_labels": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "name": {
                    "type": "string"
                  },
                  "order": {
                    "type": "integer"
                  }
                }
              },
              "example": {
                "attribute_labels": [
                  "basic_info_complete",
                  "brand",
                  "color",
                  "colors",
                  "decimal",
                  "description",
                  "gallery",
                  "gtin"
                ],
                "name": "Dimensions",
                "order": 2
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Remove all attribute labels",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attribute_labels": {
                            "type": "array",
                            "items": {}
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "order": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "attribute_labels": [],
                      "id": "5d9993554a275f16fb01b246",
                      "name": "Dimensions",
                      "order": 2
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "product attribute groups"
        ],
        "summary": "Remove group",
        "operationId": "removeGroup_api_v1_attribute_groups_product_attribute_group_id_delete",
        "parameters": [
          {
            "name": "attribute_group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "Remove a group from the system",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/attributes/product": {
      "post": {
        "tags": [
          "product attributes"
        ],
        "summary": "Add new product attribute",
        "operationId": "addNewProductAttribute_api_v1_attributes_product_post",
        "description": "Create a new product attribute.\n\nUpon successful creation, a 201 CREATED status code is returned and product attribute can be found in response body.\n\n| Field | Mandatory | Description | Applies to | Example |\n| --- | --- | --- | --- | --- |\n| name | YES | product attribute friendly name | ALL | \"name\": \"In stock\" |\n| type_class | YES | product attribute type (see available types at the begining of this section) | ALL | \"type_class\": \"BooleanAttribute\" |\n| description |  | product attribute description | ALL | \"description\": \"this attribute is used to indicate when a proudct is in stock or not\" |\n| product_families \\* (extra information given right under this table) |  | list of product families that will contain the new attribute. It's also possible to indicate at what level of the family the attribute will be placed | ALL | \"product_families\": \\[{\"id\": \"6422dd98d732cac61a58431e\", \"attribute_level\": \"parent_level\"}, {\"id\": \"6422dd98d732cac61a58431f\", \"attribute_level\": \"variant_level\"}\\] |\n| options |  | array of available options | MultiselectAttribute, DropdownAttribute | \"options\": \\[\"red\", \"blue\", \"white\"\\] |\n| manual_sorting |  | Boolean. When true, options will respect options array order, when false options will be sorted alphabetically using english rules. Default value is manual_sorting = true | MultiselectAttribute, DropdownAttribute | \"manual_sorting\": false |\n| sort_ascending |  | Boolean. Options values will be sorted in ascending (true) or descending (false) order. Default value is sort_ascending = true. If manual_sorting = true this option has no effect | MultiselectAttribute, DropdownAttribute | \"manual_sorting\": false |\n| attributes |  | array of attributes related to a completeness attribute | CompletenessAttribute | \\[ {\"id\": null, \"label\": \"sku\"} , {\"id\": \"...\", \"label\": \"in_stock\"} \\] |\n\n#### product_families field\n\nThis field is a list of dictionaries. These dictionaries must follow the following fields\n\n| **field** | **mandatory** | **description** |\n| --- | --- | --- |\n| id | yes | id of the Product Family that the attribute is going to belong to. |\n| attribute_level | no | To indicate whether the attributes will not be inherited (\"no_level\"), inherited from level 1 (\"parent_level\") or from level 2 (\"variant_level\"). Default: \"no_level\". |\n\n> The \"parent_level\" and \"variant_level\" options are available only when automatic inheritance is active on the account. Contact your account manager for more information. \n  \n\n# Example\n\nMore examples can be found in example requests\n\n1.- Create new True/ False (Boolean) attribute named \"In Stock\"\n\n``` json\nFormatted JSON Data\n{\n    \"name\":\"In Stock\",\n    \"type_class\":\"BooleanAttribute\"\n}\n\n ```\n\nResponse\n\n``` json\nFormatted JSON Data\n{\n  \"data\": [\n    {\n      \"id\": \"5d0b4ea525abd700016fc037\", \n      \"label\": \"in_stock\", \n      \"name\": \"In Stock\", \n      \"groups\": [], \n      \"type_class\": \"BooleanAttribute\"\n    }\n  ]\n}\n\n ```",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "type_class": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "name": "In Stock",
                "type_class": "BooleanAttribute",
                "description": "this attribute is used to indicate when a producto is in stock or not"
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "Product Already exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "msg": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "msg": "a product attribute with same name already exists"
                  }
                }
              }
            }
          },
          "201": {
            "description": "Add multiselect attribute sorted by name, descending",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "filter_type": {
                            "type": "string"
                          },
                          "groups": {
                            "type": "array",
                            "items": {}
                          },
                          "id": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "manual_sorting": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "options": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "sort_ascending": {
                            "type": "boolean"
                          },
                          "type_class": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "filter_type": "MultiSelectAttribute",
                      "groups": [],
                      "id": "5e60ad6e2526f346c0894f7c",
                      "label": "locations",
                      "manual_sorting": false,
                      "name": "Locations",
                      "options": [
                        "R'lyeh",
                        "Metropolis",
                        "Lagado",
                        "Hill Valley",
                        "Arkham"
                      ],
                      "sort_ascending": false,
                      "type_class": "MultiSelectAttribute"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "Create attribute assigned to a Family",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "groups": {
                            "type": "array",
                            "items": {}
                          },
                          "type_class": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "5d0b4ea525abd700016fc037",
                      "label": "in_stock",
                      "name": "In Stock",
                      "groups": [],
                      "type_class": "BooleanAttribute"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/attributes/product/search": {
      "post": {
        "tags": [
          "product attributes"
        ],
        "summary": "Product attribute search",
        "operationId": "productAttributeSearch_api_v1_attributes_product_search_post",
        "description": "Filter product attributes by multiple criteria\n\nFilter structure and format is described under Resources section in this guide.\n\n# Restrictions\n\n* Search requests\n\n    * Search filters MUST include all necessary columns. If an attribute is not explicitly requested it won’t be returned by the API. Available attributes can be found later in this section. \n    Requesting non-existing attributes will return a 422 error code.\n    You are allowed to sort by columns not included in “attributes” field, however this attribute won’t be returned\n\n# Response Format\n\nEndpoint successful responses are wrapped in { data: [ ...] } object as in any other search endpoint. You can read more about response format in __Resources__ section in this guide.\n\nAll attributes share a set of common fields while some attributes also have some custom attributes, current version supports the following attributes*.\n\n* Please ** DO NOT ** rely in any other attribute returned by endpoints as they can dissapear in future releases of the API\n\n\n| Field | Description | Attribute type |\n| --- | --- | --- |\n| id   |  Attribute unique identifier | ALL |\n| name | Attribute name, usually contains some human friendly name | ALL |\n| label | Attribute unique label, generated by PIM and used in searches, etc. | ALL |\n| type_class  | Attribute class identifier, you can check available values in Product Attributes main section in this guide | ALL |\n| groups | Array of group identifiers where this attribute belongs to |  ALL |\n| options |Array of available values for attribute | MultiSelectAttribute, DropdownAttribute  |\n| attributes | Array of objects of the form {'id': ..., 'label': ...} | CompletenessAttribute |\n\n\n\n\n\n\n# Basic Example\nComplex examples can be found in code examples\n\n1.- Search for all product attributes and all fields (a.k.a no-filters) 100 items max.\n```json\nFormatted JSON Data\n{  \n   \"filters\":[],\n   \"attributes\":[  \n      \"name\",\n      \"label\",\n      \"attributes\",\n      \"groups\",\n      \"type_class\",\n      \"options\"\n   ],\n   \"pagination\":{  \n      \"page_size\":100,\n      \"page\":1,\n      \"order\":\"\"\n   }\n}\n ```\nResponse\n```json\nFormatted JSON Data\n{  \n   \"data\":[\n       {\n\t        \"id\": \"5d00ae1aebd6f0000170c3d5\", \n\t        \"label\": \"in_stock\", \n\t        \"name\": \"In Stock\", \n\t        \"type_class\": \"BooleanAttribute\",\n\t        \"groups\": [\n\t\t        \"5d00d00fc3ddd200018d92f4\"\n\t\t     ] \n    \t},\n    \t{\n    \t\t\"id\": \"5d0384c339d49f0001391965\", \n    \t\t\"name\": \"color\", \n    \t\t\"label\": \"color\", \n    \t\t\"groups\": [], \n    \t\t\"options\": [\n\t    \t\t\"blue\",\n\t    \t\t\"black\", \n\t    \t\t\"green\", \n\t    \t\t\"red\"\n    \t\t], \n\t    \t\"type_class\": \"MultiSelectAttribute\"\n    \t}\n   ],\n   \"pagination\":{\n     \"count\": 2, \n     \"order\": \"\", \n     \"page\": 1, \n     \"page_size\": 100, \n     \"total_count\": 2\n   }\n}\n ```\n \n 2.- Search for \"Rich info complete\" completeness attribute. This completeness attribute is formed by System attributes: 'sku' and 'label' and product attribute 'Additional Image Gallery'\n```json\nFormatted JSON Data\n{  \n   \"filters\":[[{\"field\":\"name\",\"operator\":\"like\",\"value\":\"RiCh InFo\"}]],\n   \"attributes\":[  \n      \"name\",\n      \"label\",\n      \"attributes\",\n      \"type_class\",\n   ],\n   \"pagination\":{  \n      \"page_size\":25,\n      \"page\":1,\n      \"order\":\"\"\n   }\n}\n\n ```\nResponse\n```json\nFormatted JSON Data\n{\n  \"data\": [\n    {\n      \"attributes\": [\n        {\n          \"id\": null, \n          \"label\": \"sku\"\n        }, \n        {\n          \"id\": null, \n          \"label\": \"label\"\n        }, \n        {\n          \"id\": \"5c582c9c9e877f04666c64ac\", \n          \"label\": \"additional_image_gallery\"\n        }\n      ], \n      \"id\": \"5c766b364931b805abd334a0\", \n      \"label\": \"rich_info_complete\", \n      \"name\": \"Rich Info Complete \", \n      \"type_class\": \"CompletenessAttribute\"\n    }\n  ], \n  \"pagination\": {\n    \"count\": 1, \n    \"order\": null, \n    \"page\": 1, \n    \"page_size\": 25, \n    \"total_count\": 82\n  }\n}\n\n ```",
        "responses": {
          "200": {
            "description": "Completeness example",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attributes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "label": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "filter_type": {
                            "type": "string"
                          },
                          "groups": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "type_class": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer"
                        },
                        "order": {
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "total_count": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "attributes": [
                        {
                          "id": "5c582c419e877f04666c64a4",
                          "label": "gtin"
                        },
                        {
                          "id": "5c582c269e877f04666c64a1",
                          "label": "brand"
                        },
                        {
                          "id": "5c582c6e9e877f04666c64a6",
                          "label": "title"
                        }
                      ],
                      "filter_type": "DecimalAttribute",
                      "groups": [
                        "5c582a769e877f0467b57ab5"
                      ],
                      "id": "5c59b93e9e877f04666c67a3",
                      "label": "basic_info_complete",
                      "name": "Basic Info Complete ",
                      "type_class": "CompletenessAttribute"
                    },
                    {
                      "attributes": [
                        {
                          "id": "5c582c9c9e877f04666c64ac",
                          "label": "additional_image_galery"
                        },
                        {
                          "id": "5c19ffd30b64d40460c50d1c",
                          "label": "color"
                        },
                        {
                          "id": "5c19ffda0b64d40460c50d1e",
                          "label": "description"
                        },
                        {
                          "id": "5c582c819e877f04666c64a8",
                          "label": "feature_description"
                        },
                        {
                          "id": "5c582c8f9e877f04666c64aa",
                          "label": "hero_image"
                        },
                        {
                          "id": "5c19fff45e9b0f045e7d2f2d",
                          "label": "product_type"
                        },
                        {
                          "id": "5c582cc79e877f0465578e81",
                          "label": "suggested_retail_price"
                        },
                        {
                          "id": "5c19ffeb0b64d404624d3bcc",
                          "label": "type"
                        },
                        {
                          "id": "5c582cb89e877f0465578e7e",
                          "label": "video_url"
                        },
[...]
